.name-card{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card1 , .para1 , .head1{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.para1, .head1{
    margin: 35px;
    padding: 6px;
}

.card2 , .para2 , .head2{
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}

.para2,.head2{
    margin:35px;
    padding:6px;
}

.card3 , .para3 , .head3{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.para3,.head3{
    margin: 35px;
    padding: 6px;
}

.para1,.para2,.para3{
    color: white;
    border: 2px solid black;
    background-color: black;
    
}

.head1,.head2,.head3{
    color: white;
    border: 2px solid black;
    background-color: black;
}